<app-header title="Progress - Range"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <ion-progress-bar type="determinate" color="primary" [value]="porcentaje"></ion-progress-bar>

  <ion-list class="ion-padding">
    <ion-item>
      <ion-range min="0" max="100" (ionChange)="rangeChange($event)">
         <ion-icon slot="start" name="sunny" size="small"></ion-icon>
         <ion-icon slot="end" name="sunny"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>

</ion-content>
