<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Segment</ion-title>
  </ion-toolbar>
  <ion-segment value="all" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="DC Comics">
      <ion-label>DC Comics</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Marvel Comics">
      <ion-label>Marvel Comics</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">



  <ion-list>
    <ion-item *ngFor="let hero of (superHeros | async) | filter:publisher:'publisher'"
              class="animate__animated animate__fadeIn animate__slower">
      <ion-label>
        <h3>{{hero.superhero}} <small>{{hero.alter_ego}}</small></h3>
        <p>{{hero.first_appearance}}</p>
       </ion-label>
       <ion-label slot="end" class="ion-text-rigth">{{hero.publisher}}</ion-label>
    </ion-item>
  </ion-list>


    <ion-list *ngIf="(superHeros | async) === null">
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1]">
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
       </ion-label>

        <ion-skeleton-text slot="end" style="width: 40px; height: 50px;" ></ion-skeleton-text>

    </ion-item>
  </ion-list>

</ion-content>
