<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/" color="primary" text="Return"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Avatar</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
<!--
        <img src="/assets/foto.png" /> -->
        <ion-img src="/assets/foto.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-chip color="primary" outline="true" *ngFor="let item of [1,1,1,1]">
    <ion-avatar>
      <img src="/assets/foto.png" />
    </ion-avatar>
    <ion-label>Romentos</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item *ngFor="let item of [1,1,1,1]">
      <ion-avatar slot="end">
        <img src="/assets/foto.png" />
      </ion-avatar>
      <ion-label>Romentos</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
